<%- include("../partials/scrollBack.ejs") %>

<nav id="navbar">
    <% if (user){ %>
    <a href="/auth/logout">Logout</a>
    <a href="/posts">Feed</a>
    <a href="/posts?type=following">Following</a>

    <a href="/posts/new">Create Post</a>

    <a href="/users/<%= user._id %>"><img src="<%= user.iconURL %>" alt="icon" id="profileicon"></a>
    

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>
</nav>
