body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    color: white;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif
}

a {
    color: wheat;
}

a:focus {
    color: aqua;
}



input,
select,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

button,
label {
    cursor: pointer;
}

textarea {
    resize: none;
    border: 1px solid white;
}

ul {
    list-style: none;
}

form h1 {
    margin-bottom: 1.5rem;
}

form{
    width: 50%;
}
form select,
form input,
form button {
    display: inline;
    width: 100%;
    line-height: 1.2;
    padding: 15px 10px;
    border: 1px solid white;
    color: var(--white);
    background-color: black;
    transition: ease-in-out 0.3s;
}

form textarea {
    height: 170px;
    border: 1px solid white;
    background-color: black;
    width: 100%;
    color: white;
    transition: ease-in-out 0.3s;

}



form select:focus,
form input:focus,
form textarea:focus {
    transform: scale(1.01);
}

form select:hover,
form input:hover,
form textarea:hover {
    transform: scale(1.01);
}

form input,
form button {
    margin-top: 15px;
    background-color: rgb(40, 40, 40);
    color: wheat;
}

.post {
    border: 1px white solid;
    padding: 10px;
    width: 50%;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: white;
    border-bottom: 1px white solid;
    margin: 5px;
}
#navbar a{
    width: 8%;
    line-height: 1.2;
    padding: 15px 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    color: var(--white);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:25px
}


#profileicon{
    width: 50px;
    height: 50px;
}

#icon{
    width: 60px;
}