<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/logozoom.png" type="image/x-icon">

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center;">
            <a href="/posts">Recent Posts</a>
            <a href="/posts?type=following">Following Posts</a>
            <a href="/posts?type=top">Top Posts</a>
            <form action="/posts?type=search" method="get" style="display: inline-flex; width: fit-content; flex-direction: row; align-items: flex-start; gap: 10px; justify-content: center;" >
                <input type="text" name="search" placeholder="Search posts..." required style="padding: 1px; margin: 2px;">
                <input type="submit" style="padding: 1px; margin: 2px;" value="Search">
            </form>
        </div>
    <div class="container">
        
        <%- include("../partials/postPartial.ejs") %>
      </div>


    </div>
  </body>
</html>
